html, body {
    margin: 0;
    padding: 0;
    background-color:#8E7C93;
    text-align: center;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 130px;
    align-items: center;
}

h1 {
    margin-top: 0px;
    color: #000;
}

h2 {
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-input {
    display: block;
    height: 118px;
    width: 317px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(#D0A5C0, #D0A5C0);
    text-align: left;
    padding: 5px; /* Add some padding to make it look better */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    resize: none; /* Prevent resizing */
    overflow: hidden; 
    box-sizing: border-box;
    padding: 0 0 70px 10px;
}

::placeholder {
  color: #000;
  opacity: 1; /* Firefox */
}

#publish-btn {
    width: 317px;
    height: 61px;
    font-weight: bold;
    background-image: linear-gradient(#EA9E8D, #D0A5C0, #E0B7B7);
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0px;
    
}

#publish-btn:hover {
    background-image: linear-gradient(#E0B7B7, #D0A5C0, #EA9E8D);
    cursor: pointer;
}


#color-title {
    color: #EA9E8D;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 317px;
}

ul li {
    font-size: 20px;
    background-color: #EA9E8D;
    width: 317px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

#gossip-list {
    justify-content: center;
    font-size: 20px;
}